* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rajdhani', sans-serif;
}

#social a i {
    color: white;
    padding: 1rem;
}

#naav a {
    text-decoration: none;
    color: white;
    padding: 2rem;
}

#banner {
    background: linear-gradient(rgba(0, 0, 0, 0.66), rgba(0, 0, 0, 0.66)), url(assets/images/banner/2-10.jpg);
    width: 100%;
    min-height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: ani 5s linear infinite;
}

@keyframes ani {
    from {
        background: linear-gradient(rgba(0, 0, 0, 0.66), rgba(0, 0, 0, 0.66)), url(assets/images/banner/2-10.jpg);
        width: 100%;
        min-height: 80vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }

    to {
        background: linear-gradient(rgba(0, 0, 0, 0.66), rgba(0, 0, 0, 0.66)), url(assets/images/banner/3-3.jpg);
        width: 100%;
        min-height: 80vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }
}
#form1 input::placeholder {
    color: white;
}
#service-banner{
 
        background: linear-gradient(rgba(0, 0, 0, 0.66),rgba(0, 0, 0, 0.66)),url(assets/images/banner/2-10.jpg);
        width: 100%;
        min-height: 40vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        /* display: flex; */
        
}
#form {
    color: white;
}

#form1 input {
    background: none;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.593);
    width: 100%;
    padding: 0.6rem;
    margin-top: 1.3rem;
    outline: none;
}
#form1 label{
    color: white;

}
#form1 select{
    border: 2px solid white;
    background: none;
    color: #de9e53;
    border: 1px solid white;
    width: 100%;
    padding: 0.6rem;
    margin-top: 1rem;
}
#form1 input::placeholder{
    color: white;
}
#btn-1 {
    border: none;
    background-color: #de9e53;
    padding: 20px 40px;
    color: white;
}

#mobile-nav {
    display: none;
}

.box {
    width: 20%;
}

#card {
    background-color: #f7f5f1;
}

#card:hover {
    background-color: #de9e53;
    color: white;
    transition: 0.4s;
}

#room {
    background: linear-gradient(rgba(247, 245, 241, 0.853), rgba(247, 245, 241, 0.859)), url(assets/images/banner/pattern-1.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#why-choose {
    background: linear-gradient(rgba(0, 0, 0, 0.66), rgba(0, 0, 0, 0.66)), url(assets/images/banner/1-3.jpg);
    width: 100%;
    min-height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.box {
    background-color: white;
    width: 100%;

}

#btn-3 {
    background-color: #de9e53;
    color: white;
    padding: 10px 30px;
    border: none;
}
#btn-4{
    background-color: #de9e53;
    color: white;
    padding: 8px 20px;
    border: none;
}
#carousel-indicators {
    top: -125px !important;
    right: 0 !important;
    left: auto !important;
}

#carousel-indicators button {
    width: 25px;
    height: 24px;
    border-radius: 50%;
}

#footer a {
    text-decoration: none;
    color: grey;
}

#form input,
textarea {
    width: 100%;
    border: 1px solid grey;
    color: white;
    background: none;
    padding: 10px;
    margin-top: 1rem;
    border-radius: 5px;
}

#form #submit {
    background-color: #de9e53;
    color: white;
    padding: 10px 30px;
    border: none;
    width: 25%;
}
#deskstop-nav{
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

#deskstop-nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

@media screen and (max-width: 768px) {
    #deskstop-nav {
        display: none;
    }

    #mobile-nav {
        display: block;
    }

    .box {
        width: 100%;
    }
}



/* about us page */
.about_image{
    background-image: url("assets/images/about_us/3-3.jpg");
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    width: 100%;
    background-position: center bottom;
    background-size: cover;
    
}
 
.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #000000;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.accordion-item{
    border: none;
    
    margin-top: 15px;
    background-color: white;
}
 
.about_bg{
    background-color: #f8f5f1;
    padding: 5px;
}
.accordion-item{
    background-color: transparent;
}
.accordion-button{
  text-transform: capitalize;
  letter-spacing: 1px;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
 
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #de9e53; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #e99b42; 
 
  }
